@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat',
  sans-serif;
  color: #333;
}

h2{
  margin-bottom: 10px;
}
p{
  text-align: center;
}

button {
  font-weight: 300;
  padding: 10px 12px;
  margin: 20px auto;
  outline: none;
  border: 0.2px solid #444;
  border-radius: 4px;
  color:#000;
  background-color: #fff;
  cursor: pointer;
  transition: all, 0.75s ease-in-out;
}
button:hover{
  transform: scale(0.98);
  border: none;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
}

.primaryButton{
  font-weight: 300;
  padding: 10px 12px;
  margin: 20px auto;
  outline: none;
  border: 0.2px solid darkcyan;
  border-radius: 4px;
  cursor: pointer;
  transition: all,
  0.75s ease-in-out;
}

  .primaryButton:hover {
    transform: scale(0.98);
    border: none;
    color: #fff;
    background-color: darkcyan;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);

  }
  .deleteButton{
    border-color: rgba(255, 0, 0, 0.4);

  }

  .deleteButton:hover {
    color:#fff;
    background-color: rgba(255, 0, 0, 0.9);
  }





.navbar{
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #f2f2f2;
}

.navbar h1{
  color:darkcyan;
}

.navbar .links{
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding:10px 16px;
  transition: all .6s ease-in-out;
}

.navbar a:hover{
  color: darkcyan;
}

.navbar .primaryButton:hover{
  color:#fff;

}

.content{
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  display: grid;
  place-items: center;
}

/* === home=== */

.home{
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home h2{
  font-size: 28px;
  text-align: center;
}

/* blog preview  / list  */

.blog-preview{
  display: grid;
  place-items: center;
  padding: 10px 16px;
  margin: 20px 0;
  border-radius: 4px;
  border-bottom: 1px solid #fafafa;
  transition: all 0.75s ease-in-out;
}

.blog-preview:hover{
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}
.blog-preview h2{
  font-size: 20px;
  color: darkcyan;
  margin: 10px;
}
.blog-preview button{

}



/* === card === */

.card{
  width: 100%;
  max-width: 500px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(0, 0, 0, 0.1);
  background-color:rgba(255,255 255, 0.2);
  transition: all 0.75s ease-in-out;
}

.card:hover{
  transform: scale(1.02);
  box-shadow: 0 4px 10px 4px rgba(0, 0, 0, 0.2);

}

.card__header{
  margin-bottom: 20px;
}

.card__header img {
  width: 200px;
  height: 200px;
  margin-top: 20px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid aquamarine;
}

.card__body{
  padding: 0 20px;

}

.card a{
  text-decoration: none;
  margin: 20px auto;
  padding: 15px 20px;
  border: 0.5 solid #333;
  border-radius: 4px;
  transition: all .75s ease-in-out;
}
.card a:hover{
  box-shadow: 0 4px 10px 4px rgba(0, 0, 0, 0.2);
  border: none;
  background-color: darkcyan;
  color: #fff;

}